#Reviews {
  padding: 100px 0;
  text-align: center;
  .author {
    font-size: 1rem;
    color: $paragraphColor;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
  }
  .arrows {
    .fa-arrow-left,
    .fa-arrow-right {
      font-size: 1rem;
      padding: 20px 10px;
      cursor: pointer;
      color: $paragraphColor;
    }
    .ready {
      color: $black;
      }
  }
}

